* {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.cabecera {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/bgHeader.png');
    background-position: 0 740px;
    height: 740px;

}

.cabecera h1 {

    color: #ff8533;
    font-size: 100px; 
}

button {

    height: 40px;
    width: 150px;
    font-size: 20px;

    



}