* {
    margin: 0;
    padding: 0;

}

body {
    font-family: sans-serif Liberation Sans, sans-serif;

}

.imagen {
    width: 60%;
}


.img {
    width: 65%;
    display: block;
}


.cabecera {
    background-image: url('/assets/img/bgHeader.png');

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: 0 740px;
    height: 740px;
    width: 1400px;
    margin: 0px;

}

button:hover {
    background-color: rgb(212, 127, 30);

}

.cabecera h1 {


    font-size: 78px;
    margin-top: -9%;
    line-height: 2.0;
    color: rgb(231, 146, 48);
}

.cabecera h2 {


    font-size: 33px;
    line-height: 0.5;

}

.view1 {
    height: 45px;
    width: 130px;
    font-size: 15px;
    margin-top: 145px;
    background-color: rgb(231, 146, 48);
    border-radius: 35px;
    text-align: center;
    word-spacing: 10px;
    color: white;
    border: none;

}

/*diseño de la parte 2*/

.parte2 {

    width: 76%;
    margin: auto;

}

.parte2 h2 {
    font-size: 33px;
    margin-top: 150px;
    line-height: 1.5;
    width: 45%;
    color: rgb(231, 146, 48);

}

.parte2 p {
    font-size: 18px;
    margin-top: 36px;
    line-height: 1.5;
    width: 45%;
    color: rgb(82, 82, 82);

}

.imagen {
    width: 295px;
    margin-right: 14%;
    margin-top: -490px;
    float: right;


}

.imagen img {
    width: auto;
    display: block;
    height: auto;
    margin-left: -7px;

}

.view2 {
    height: 50px;
    width: 130px;
    font-size: 15px;
    margin-top: 40px;
    background-color: rgb(231, 146, 48);
    border-radius: 35px;
    text-align: center;
    word-spacing: 10px;
    color: white;
    border: none;

}

/* diseño de la parte 3*/

/* diseño de la parte 3 */

.parte3 {

    width: 80%;
    margin: 75px auto;
    line-height: 1.5;
    position: relative;
    min-height: 550px;

}

.parte3 h2 {

    font-size: 33px;
    margin-top: -430px;
    margin-left: 50%;
    line-height: 1.5;
    width: 45%;
    color: rgb(231, 146, 48);

}

.parte3 p {

    font-size: 18px;
    margin-top: 30px;
    margin-left: 50%;
    line-height: 1.5;
    width: 45%;
    color: rgb(82, 82, 82);

}

.parte3 .izquierda {

    width: 295px;
    margin-top: 30px;

}

.parte3 img {

    width: 120%;
    display: block;
    margin-left: 25px;
    margin-top: 80%;

}

.view3 {

    height: 50px;
    width: 130px;
    font-size: 15px;
    margin-top: 40px;
    margin-left: 50%;
    background-color: rgb(231, 146, 48);
    border-radius: 35px;
    text-align: center;
    word-spacing: 10px;
    color: white;
    border: none;

}

/* diseño de la parte 4*/

.parte4 {
    background-image: url('/assets/img/bgDown.png');
    display: flex;
    flex-direction: column;
    background-position: 0 575px;
    height: 575px;
    width: 1400px;
    margin: 0px;

}

.parte4 h2 {
    font-size: 38px;
    margin-top: 120px;
    line-height: 1.5;
    width: 90%;
    color: rgb(231, 146, 48);
    height: 70%px;
    margin-left: 100px;
    width: 45%;

}

.parte4 p {
    font-size: 22px;
    margin-top: 30px;
    line-height: 1.5;
    width: 90%;
    color: rgb(82, 82, 82);
    height: 70%px;
    margin-left: 100px;
    width: 45%;

}

.view4 {
    height: 50px;
    width: 130px;
    font-size: 15px;
    margin-top: 17px;
    background-color: rgb(231, 146, 48);
    border-radius: 35px;
    text-align: center;
    word-spacing: 10px;
    color: white;
    border: none;
    margin-left: 100px;
    width: 14%;

}

/*footer*/

footer {
    background-color: rgb(231, 146, 48);
}

.columna {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    padding: 45px 0;
    gap: 40px;
}

.address {
    margin-top: 10px;
}

.product {
    margin-top: 10px;
}

.learn {
    margin-top: 10px;
}

.pricing {
    margin-top: 10px;
}

.address ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.learn ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.pricing ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.columna a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 12px;
}

.columna li {
    margin-bottom: 8px;
}

.SRG {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(234, 139, 42);
    color: white;
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 0;
    margin-bottom: 0;
    height: 40px;
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.08);

}